@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryTextColor : #232e35; /*for title*/
    --secondaryTextColor : #656d72; /*for simple text or pharagraph*/

    --lineColor : #d9d9d9;
    --borderColor : #f1f1f1;

    --primaryBackgroundColor : #fff;
    --secondaryBackgroundColor : #fbfbfb;
    --thirdBackgroundColor : #f5f3fe;

    --primaryIconColor : #7e74f1;
    --primaryIconColorHover : #5d51e8;
    --sectionPadding : 6rem 0;

    --itemBorderRadius : 0.7rem;
}

body{
    font-family:"Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong{
    color: var(--primaryTextColor);

}

p{
    font-size: 1rem;
    line-height : 1.9rem
}

p, span, label, input, textarea, li{
    color: var(--secondaryTextColor);
}

a{
    text-decoration: none;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 90%;
    }
}


/*Navigation COntrol and Symbol*/

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul{
    list-style: none;
    display: flex;
    gap : 3rem;
}

.Symbol{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}